{% extends 'drego/layout.html' %}
{% block title %} Home to the leader of football odds and statistics | {{block.super}} {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="jumbotron text-center">
                <h1>Drego Sports</h1>
                <hr>
                <p>Welcome to &copy;Drego Sports.  We are a site that gives valid predictions on NFL games so you can use these predictions and win money off of them.</p>
                <small class="text-danger">We are only a site to give advice for betting you cannot bet off of our site.</small>
                <p><a href="/plans" class="btn btn-info">Start Now</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}