<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Drego Sports{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'drego/assets/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'drego/assets/theme/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'drego/assets/theme/css/now-ui-kit.min.css' %}">
    <link rel="stylesheet" href="{% static 'drego/assets/css/app.css' %}">
</head>
<body>
        <nav class="navbar navbar-expand-lg bg-dark mt-5 navbar-dark">
            <div class="container">
                <a class="navbar-brand">Drego Sports</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plans">Plans</a>
                    </li>
                    {% if 'id' in request.session %}
                          <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="/login-page" class="nav-link">Login</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </div>
            </nav>


    {% block content %} {% endblock %}

{% load static %}
    <script src="{% static 'drego/assets/theme/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'drego/assets/theme/js/core/popper.min.js' %}"></script>
    <script src="{% static 'drego/assets/theme/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'drego/assets/theme/js/now-ui-kit.min.js' %}"></script>
    <script src="{% static 'drego/assets/js/app.js' %}"></script>