{% extends 'drego/layout.html' %}
{% block title %} Registration | {{block.super}} {% endblock %}
{% block content %}


<div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 offset-2">
                <form action="register" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">First Name</label>
                        <input type="text" name="first_name" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Last Name</label>
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Date of Birth</label>
                        <input type="date" name="DOB" class="form-control" placeholder="Date of Birth">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" name="confirm_pass" class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Login" class="btn btn-info btn-round">
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}